<div [formGroup]="formGroup">
  <mat-form-field>
    <input
        matInput
        type="text"
        placeholder="Address"
        formControlName="address"
        [required]="required"
    >
  </mat-form-field>
  <mat-form-field>
    <input
        matInput
        type="text"
        placeholder="Appt. #"
        formControlName="address2"
    >
  </mat-form-field>
  <mat-form-field>
    <input
        matInput
        type="text"
        placeholder="City"
        formControlName="city"
        [required]="required"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-select
        placeholder="State"
        formControlName="state"
        [required]="required"
        (selectionChange)="onChange()"
    >
      <mat-option>Select One</mat-option>
      <mat-option *ngFor="let state of states" [value]="state.abbreviation">
        {{state.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input
        matInput
        type="text"
        formControlName="zip"
        placeholder="Zip"
        [required]="required"
    >
  </mat-form-field>
</div>
