.name-container {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}

.img-container {
  height: 50%;
  margin: auto;
}

.discounted {
  text-decoration: line-through;
  color: red;
}
.discounted-container {
  font-size: 14px;
  text-align: right;
}

.product-item {
  background-color: #fafbfe;
  border: 1px solid #DEE4E8;
}