<div class="chk-block">
	<div class="chk-block-title">
		<h4>Ticket Leaderboard</h4>
		<small class="text-muted">Leaderboard updated every {{updateMinutes}} minutes.</small>
	</div>
	<div class="chk-block-content">
		<div class="d-flex flex-fill">
			<div class="d-flex flex-fill btn-grid">
<!--				<div (click)="changeRange('day')">Today</div>-->
<!--				<div (click)="changeRange('week')">This Week</div>-->
<!--				<div (click)="changeRange('month')">This Month</div>-->
<!--				<div (click)="changeRange('year')">This Year</div>-->
<!--				<div (click)="changeRange('all')">All Time</div>-->
				<mat-button-toggle-group>
					<mat-button-toggle appear value="allTime" [checked]="selectedRange == 'day'" (click)="changeRange('day')">Today</mat-button-toggle>
					<mat-button-toggle appear value="allTime" [checked]="selectedRange == 'week'" (click)="changeRange('week')">This Week</mat-button-toggle>
					<mat-button-toggle appear value="allTime" [checked]="selectedRange == 'month'" (click)="changeRange('month')">This Month</mat-button-toggle>
					<mat-button-toggle appear value="allTime" [checked]="selectedRange == 'year'" (click)="changeRange('year')">This Year</mat-button-toggle>
					<mat-button-toggle appear value="allTime" [checked]="selectedRange == 'all'" (click)="changeRange('all')">All Time</mat-button-toggle>
				</mat-button-toggle-group>
			</div>
			<div class="flex-grow-1 text-right">
				<mat-slide-toggle
						class="example-margin"
						[color]="'primary'"
						[checked]="getSpent"
						(change)="setValue($event)"
				>
					Subtract Spent
				</mat-slide-toggle>
			</div>
		</div>
		<div *ngFor="let entry of leaders; let i = index" class="d-flex flex-fill ticket-item">
			<div><span class="pr-2">{{i+1}}.</span></div>
			<div><img class="rounded-circle mr-2" src="{{entry.user.twitch.imageUrl}}" alt="User-image" width="20" height="20"></div>
			<div class="flex-grow-1">{{entry.user.fullname}}</div>
			<div>{{entry.count | number}} <span class="fa fa-ticket text-success"></span></div>
		</div>
	</div>
</div>