<div class="pad-wrap">
	<div class="chk-block">
		<div class="chk-block-title">
			<h4>Trivia Quiz</h4>
		</div>
		<div class="chk-block-content">
			<h5>Rules:</h5>
			<p>
				<span *ngIf="trivia.payoutType == 'perQuestion'; else payoutType">For this trivia game you will earn {{trivia.ticketsPerQuestions}}<span class="fa fa-ticket text-success"></span> per question you answer correctly. There are {{trivia.numOfQuestions}} questions so you have a possibility of earning {{trivia.ticketsPerQuestions*trivia.numOfQuestions}}<span class="fa fa-ticket text-success"></span>!</span>
				<ng-template #payoutType>For this trivia game there are {{trivia.tickets}}<span class="fa fa-ticket text-success"></span> being awarded to the winners. You are a winner if you answer all questions correctly. If you get 1 question wrong you are disqualified. The {{trivia.tickets}}<span class="fa fa-ticket text-success"></span> are divided among the winners, so if there are 10 winners they will each win {{trivia.tickets/10}}<span class="fa fa-ticket text-success"></span>!</ng-template>
			</p>
			<p>
				You will have {{trivia.questionDuration}} seconds to answer each question.
				<span *ngIf="trivia.questionType === 'any'">All questions will either be multiple choice or true / false.</span>
				<span *ngIf="trivia.questionType === 'multiple'">All questions will be multiple choice.</span>
				<span *ngIf="trivia.questionType === 'boolean'">All questions will be true / false.</span>
			</p>
			<p>
				You will have to be subscribed to VintleyTV on twitch to be able to enter this trivia quiz.
			</p>
			<p>
				There are {{trivia.numOfQuestions}} questions in this quiz.
			</p>
		</div>
	</div>
</div>
<mat-grid-list class="mb-5" cols="1" [rowHeight]="twitchChannelHeight" *ngIf="trivia.status !== 'Starting'">
	<mat-grid-tile>
		<twitch-channel-widget class="full-width full-height"></twitch-channel-widget>
	</mat-grid-tile>
</mat-grid-list>
<!--<button class="btn-success" (click)="saveAnswers(trivia.currentQuestion-1)">Save</button>-->
<div class="pad-wrap">
	<div class="chk-block">
		<div class="chk-block-title text-center">
			<ng-container [ngSwitch]="trivia.status">
				<ng-container *ngSwitchCase="'In Progress'">
					<div class="d-flex">
						<h4>Quiz In Progress</h4>
						<div class="flex-grow-1 text-right">
							Your results: {{correctCount}}/{{trivia.numOfQuestions}}
						</div>
						<div *ngIf="trivia.questionType == 'perQuestion'">
							{{trivia.ticketsPerQuestions*correctCount}}<span class="fa fa-ticket text-success"></span>
						</div>
					</div>
				</ng-container>
				<ng-container *ngSwitchCase="'Ended'">
					<div class="d-flex">
						<h4>Quiz ended {{trivia.displayTime}}</h4>
						<div class="flex-grow-1 text-right">
							{{correctCount}}/{{trivia.numOfQuestions}}
						</div>
						<div *ngIf="trivia.questionType == 'perQuestion'">
							{{trivia.ticketsPerQuestions*correctCount}}<span class="fa fa-ticket text-success"></span>
						</div>
					</div>
				</ng-container>
				<ng-container *ngSwitchDefault>
					<div class="d-flex flex-fill">
						<div class="flex-grow-1 text-center">
							<h4 *ngIf="trivia.status === 'Waiting'; else notWaiting">Waiting for admin to start Quiz</h4>
							<ng-template #notWaiting><h4>Quiz starts {{trivia.displayTime}} ({{trivia.startDate}})</h4></ng-template>
						</div>
						<div *ngIf="userTrivia">
							<span *ngIf="userTrivia.receiveNotifications; else notiOff" class="float-right">
								<i matTooltip="Turn off notifications for this quiz" class="notifi-bell material-icons faa-slow faa-ring text-success" (click)="notify(false)">notifications</i>
							</span>
							<ng-template #notiOff>
								<i matTooltip="Turn on notifications for this quiz" class="notifi-bell material-icons faa-slow faa-ring text-danger" (click)="notify(true)">notifications</i>
							</ng-template>
						</div>
					</div>
				</ng-container>
			</ng-container>
		</div>
		<div class="chk-block-content">
			<ng-container [ngSwitch]="trivia.status">
				<ng-container *ngSwitchCase="'In Progress'">
					<div *ngIf="!userTrivia && trivia.currentQuestion > 0; else questionsTemplate">You missed this quiz.</div>
					<div *ngIf="trivia.currentQuestion == 0" class="pull-right">First Question: <count-down-timer [structure]="timerStructure"></count-down-timer></div>
					<ng-template #questionsTemplate>
						<div *ngIf="trivia.currentQuestion == trivia.numOfQuestions && trivia.countDown == 0 && trivia.intermission == false; else triviaQuestions">
							Your Results
						</div>
						<ng-template #triviaQuestions>
							<div *ngFor="let question of trivia.questions; let i = index">
								<div *ngIf="(i+1) == trivia.currentQuestion">
									<div class="d-flex">
										<div class="pr-2"><h4 class="mt-1">Question {{i+1}}.</h4></div>
										<div>
											<mat-chip-list>
												<mat-chip [color]="question.difficulty == 'easy' ? 'primary' : (question.difficulty == 'accent' ? 'info' : 'warn')">{{question.difficulty | capitalize}}</mat-chip>
											</mat-chip-list>
										</div>
										<div class="flex-grow-1 text-right">
												<div *ngIf="!trivia.intermission; else intermission"><count-down-timer [structure]="timerStructure"></count-down-timer></div>
												<ng-template #intermission>Next Question: <count-down-timer [structure]="timerStructure"></count-down-timer></ng-template>
										</div>
									</div>
									<label id="radio-group-label"><span [innerHtml]="question.question"></span></label>
									<mat-radio-group
											[disabled]="trivia.intermission"
											aria-labelledby="radio-group-label"
											class="radio-group"
											[(ngModel)]="userTrivia.questions[i].selectedOption">
										<mat-radio-button class="example-radio-button" *ngFor="let opt of question.options" [value]="opt"><span [innerHtml]="opt"></span></mat-radio-button>
									</mat-radio-group>
									<div *ngIf="userTrivia && userTrivia.questions[i].complete">
										<div class="well btn-success p-2 m-2" *ngIf="userTrivia.questions[i].correct; else wrongAnswer">You are correct!</div>
										<ng-template #wrongAnswer>
											<div class="well btn-danger p-2 m-2" >Sorry that is not right!</div>
										</ng-template>
									</div>
								</div>
							</div>
						</ng-template>
					</ng-template>
				</ng-container>
				<ng-container *ngSwitchCase="'Ended'">
					<div *ngIf="!userTrivia; else userResults">You missed this quiz.</div>
					<ng-template #userResults>
						<div *ngFor="let question of trivia.questions; let i = index">
								<div class="d-flex">
									<div class="pr-2"><h4 class="mt-1">Question {{i+1}}.</h4></div>
									<div><mat-chip-list><mat-chip>{{question.difficulty | capitalize}}</mat-chip></mat-chip-list></div>
								</div>
								<label id="radio-group-label"><span class="text-muted" [innerHtml]="question.question"></span></label>
								<mat-radio-group
										[disabled]="true"
										aria-labelledby="radio-group-label"
										class="radio-group"
										[(ngModel)]="userTrivia.questions[i].selectedOption">
									<mat-radio-button class="example-radio-button" *ngFor="let opt of question.options" [value]="opt">{{opt}}</mat-radio-button>
								</mat-radio-group>
								<div *ngIf="userTrivia">
									<div class="well btn-success p-2 m-2" *ngIf="userTrivia.questions[i].correct; else wrongAnswer">You are correct!</div>
									<ng-template #wrongAnswer>
										<div class="well btn-danger p-2 m-2" >Sorry that is not right!</div>
									</ng-template>
								</div>
							<hr>
						</div>
					</ng-template>
				</ng-container>
				<ng-container *ngSwitchDefault>
					<p>
						<span *ngIf="user.isSubscribed; else notSub">You are subscribed!</span>
						<ng-template #notSub>You are not subscribed. <a target="_blank" href="https://www.twitch.tv/products/toyexperts">Subscribe here</a> </ng-template>
					</p>
					<span *ngIf="trivia.status === 'Waiting'; else notStarted">
						Get ready the quiz is about to start!
					</span>
					<ng-template #notStarted>This quiz has not started yet.</ng-template>
					<span *ngIf="!userTrivia">
						<p>
							<button class="btn btn-success" (click)="joinQuiz()">Join Quiz</button>
							and get notified when this quiz is about to start.
						</p>
					</span>
				</ng-container>
			</ng-container>
		</div>
	</div>
</div>