<circle-progress
		[title]="structure.title"
		[percent]="structure.percent"
		[radius]="structure.radius"
		[outerStrokeWidth]="structure.outerStrokeWidth"
		[innerStrokeWidth]="structure.innerStrokeWidth"
		[outerStrokeColor]="structure.outerStrokeColor"
		[innerStrokeColor]="structure.innerStrokeColor"
		[animation]="structure.animation"
		[animationDuration]="structure.animationDuration"
		[units]="'s'"
		[showSubtitle]="false"
		[backgroundColor]="structure.backgroundColor"
		[showInnerStroke]="structure.showInnerStroke"
		[titleColor]="structure.titleColor"
		[subtitleColor]="structure.subtitleColor"
		[animation]="true"
		[lazy]="false"
		[unitsColor]="structure.unitsColor"
		[backgroundPadding]="structure.backgroundPadding"
></circle-progress>