.advance-search-logic {
  float: right;
  margin-top: -4.0em;
  margin-right: 1.2em;
  font-size: xx-small;
  font-weight: bolder;
  color: white;
  background-color: #999;
  padding: .3em;
  border-bottom-color: #999;
  border-radius: .5em;
}

.mat-paginator-page-size {
  max-width: 5em !important;
}

.mat-paginator-page-size-select {
  max-width: 5em !important;
}

.table-loading {
  padding: .75em;
}

.table-loading > mat-spinner {
  margin: auto;
}
