<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="chk-block">
      <div class="chk-block-title">
        <button mat-raised-button color="primary" *ngIf="entity" (click)="addEntity()">Add
          {{entity}}</button>
        <div class="row">
          <div class="col col-xs-12 col-md-6">
            <div *ngIf="advancedSearch">
              <app-custom-typeahead-search
                  [advancedSearch]="advancedSearch"
                  (change)="forwardChangeCustomSearch($event)"
              >
              </app-custom-typeahead-search>
            </div>
            <!--<div *ngIf="advancedSearch" class="col col-md-4 p-10">-->
              <!--<mat-form-field>-->
                <!--&lt;!&ndash;<a matSuffix>&ndash;&gt;-->
                  <!--&lt;!&ndash;<mat-icon>search</mat-icon>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--<input matInput (keyup)="applySearch()" [(ngModel)]="searchBy" placeholder="Search">-->
              <!--</mat-form-field>-->
            <!--</div>-->
            <!--<div *ngIf="canAdvanceSearch" class="col col-md-1 p-0">-->
              <!--<button mat-icon-button (click)="toggleAdvanceSearch()"-->
                      <!--matTooltip="Toggle advance search" [matTooltipPosition]="'left'">-->
                <!--<mat-icon *ngIf="!isAdvanceSearch"><i class="fa fa-angle-double-down fa-sm"></i>-->
                <!--</mat-icon>-->
                <!--<mat-icon *ngIf="isAdvanceSearch"><i class="fa fa-angle-double-up fa-sm"></i>-->
                <!--</mat-icon>-->
              <!--</button>-->
            <!--</div>-->
            </div>
          <div class="col col-sm-12 col-md-4"></div>
          <div class="col col-xs-6 col-md-2 text-right">
            <mat-form-field *ngIf="actions && actions.length">
              <mat-select placeholder="Actions" [(ngModel)]="actionValue" (valueChange)="actionChange($event)">
                <mat-option *ngFor="let action of actions" [value]="action.value">
                  {{action.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="chk-block-content">
        <div class="pt-dark-text">

          <div>
            <!--
                <table class="mat-elevation-z8 table table-sm table-striped table-hover" mat-table [dataSource]="dataSource" matSort>
            -->
            <div class="table-wrapper">

              <mat-progress-bar *ngIf="tableSettings.isLoading" mode="query"></mat-progress-bar>

              <table mat-table [dataSource]="dataSource" matSort>
                <ng-container *ngFor="let column of columns" matColumnDef="{{column.key}}">
                  <ng-container *ngIf="column.key == 'select'">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox class="pt1" (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="rowToggle($event, row);"
                                    [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
                  <ng-container *ngIf="column.key != 'select'">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <span *ngIf="!isAdvanceSearch">{{column.name}}</span>
                      <div *ngIf="isAdvanceSearch">
                        <mat-form-field appearance="outline">
                          <mat-label>{{column.name}}</mat-label>
                          <input placeholder="AdvanceSearch" matInput (keyup)="applySearch()"
                                 [(ngModel)]="advanceSearch[column.key]">
                        </mat-form-field>
                        <!--<span class="advance-search-logic" (click)="toggleAdvanceSearchLogic($event)">{{advanceSearchLogic}}</span>-->
                      </div>
                    </th>

                    <td mat-cell *matCellDef="let row">

                      <div *ngIf="['user._id', 'status._id', 'chaserAgent._id', 'drChaserStatus._id', 'physician._id'].indexOf(column.key) === -1">
                        <span [innerHtml]="getCellValueByKey(row, column.key)"></span>
                      </div>

                      <!--For sales grid-->
                      <div *ngIf="column.key === 'user._id'" appStopPropagation>
						<a *ngIf="!row.showAgent && row.user"
                           [class.edit-link]="canEdit"
                           (click)="changeForEdit(row, 'showAgent')">
                          {{row.user.fullname}}
                        </a>
                        <mat-select *ngIf="row.showAgent" [ngModel]="getCellValueByKey(row, column.key)" (ngModelChange)="updateSale($event, row.data, 'agent')" appStopPropagation>
                          <mat-option *ngFor="let item of dataForUpdateInTable.users" [value]="item._id">
                            {{ item.fullname }}
                          </mat-option>
                        </mat-select>
                      </div>

                      <div *ngIf="column.key === 'status._id'" appStopPropagation>
                        <a *ngIf="!row.showStatus && row.status"
                           [class.edit-link]="canEdit"
                           (click)="changeForEdit(row, 'showStatus')">
                          {{row.status.name}}
                        </a>
                        <mat-select *ngIf="row.showStatus" [ngModel]="getCellValueByKey(row, column.key)" (ngModelChange)="updateSale($event, row.data, 'status')" appStopPropagation>
                          <mat-option *ngFor="let item of dataForUpdateInTable.statuses.sale" [value]="item._id">
                            {{ item.name }}
                          </mat-option>
                        </mat-select>
                      </div>

                      <div *ngIf="column.key === 'chaserAgent._id'" appStopPropagation>
                        <a *ngIf="!row.showChaserAgent && row.chaserAgent"
                           [class.edit-link]="canEdit"
                           (click)="changeForEdit(row, 'showChaserAgent')">
                          {{row.chaserAgent.name}}
                        </a>
                        <mat-select *ngIf="row.showChaserAgent" [ngModel]="getCellValueByKey(row, column.key)" (ngModelChange)="updateSale($event, row.data, 'chaserAgent')" appStopPropagation>
                          <mat-option *ngFor="let item of dataForUpdateInTable.users" [value]="item._id">
                            {{ item.fullname }}
                          </mat-option>
                        </mat-select>
                      </div>

                      <div *ngIf="column.key === 'drChaserStatus._id'" appStopPropagation>
                        <a *ngIf="!row.showDrChaserStatus && row.drChaserStatus"
                           [class.edit-link]="canEdit"
                           (click)="changeForEdit(row, 'showDrChaserStatus')">
                          {{row.drChaserStatus.name}}
                        </a>
                        <mat-select *ngIf="row.showDrChaserStatus" [ngModel]="getCellValueByKey(row, column.key)" (ngModelChange)="updateSale($event, row.data, 'drChaserStatus')" appStopPropagation>
                          <mat-option *ngFor="let item of dataForUpdateInTable.statuses.drChaser" [value]="item._id">
                            {{ item.name }}
                          </mat-option>
                        </mat-select>
                      </div>

                      <div *ngIf="column.key === 'physician._id'" appStopPropagation>
                        <a *ngIf="!row.showPhysician  && row.physician"
                           [class.edit-link]="canEdit"
                           (click)="changeForEdit(row, 'showPhysician')">
                          {{row.physician.name}}
                        </a>
                        <mat-select *ngIf="row.showPhysician" [ngModel]="getCellValueByKey(row, column.key)" (ngModelChange)="updateSale($event, row.data, 'physician')" appStopPropagation>
                          <mat-option *ngFor="let item of dataForUpdateInTable.physicians" [value]="item._id">
                            {{ item.name }}
                          </mat-option>
                        </mat-select>
                      </div>

                      <!--<ng-template #normalView>-->
                        <!--<span [innerHtml]="getCellValueByKey(row, column.key)"></span>-->
                      <!--</ng-template>-->
                    </td>
                  </ng-container>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="rowClicked.emit(row)"></tr>
              </table>
            </div>

			  <!--<pre>totalSales: {{ totalSales | json }}</pre>-->
			  <!--<pre>pageSizes: {{ pageSizes | json }}</pre>-->
			  <!--<pre>pageIndex: {{ pageIndex | json }}</pre>-->
			  <!--<pre>pageSize: {{ pageSize | json }}</pre>-->

            <mat-paginator
                *ngIf="!infiniteScroll"
                [length]=totalItems
                [pageSizeOptions]="pageSizes"
                [pageIndex]='pageIndex'
                [pageSize]="pageSize"
                (page)="getNext($event)"
            >
            </mat-paginator>
            <div *ngIf="infiniteScroll && isLoading"
                 class="table-loading">
              <mat-spinner diameter="20"></mat-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

