<div class="chk-block">
	<div class="chk-block-content">
		<div class="text-center"><h3>Earn Tickets</h3></div>
		<mat-grid-list rowHeight="1:1.25" [cols]="cols" [gutterSize]="'2rem'" >
			<mat-grid-tile class="ticket-opp"  *ngFor="let opp of ticketOpps">
				<div class="d-flex flex-column flex-fill ticket-opp">
					<div class="text-center font-weight-bold">{{opp.requiredAction}}</div>
					<div class="ml-2 mr-2" *ngIf="opp.backgroundImage; else noImage">
						<img width="100%" [src]="opp.backgroundImage" />
					</div>
					<ng-template #noImage>
						<div class="ml-2 mr-2">
							<ng-container [ngSwitch]="opp.refType">
								<img width="100%" src="https://vintley.s3-us-west-2.amazonaws.com/public-images/Facebookright.png" *ngSwitchCase="'facebook'" />
								<img width="100%" src="https://vintley.s3-us-west-2.amazonaws.com/public-images/TwitterRight.png" *ngSwitchCase="'twitter'" />
								<img width="100%" src="https://vintley.s3-us-west-2.amazonaws.com/public-images/TwitchRight.png" *ngSwitchCase="'twitch'" />
								<img width="100%" src="https://vintley.s3-us-west-2.amazonaws.com/public-images/InstagramRightImage.png" *ngSwitchCase="'instagram'" />
								<img width="100%" src="https://vintley.s3-us-west-2.amazonaws.com/public-images/VintleyRight.png" *ngSwitchDefault />
							</ng-container>
						</div>
					</ng-template>
					<div class="text-center p-3">
						<small>{{opp.requiredActionDesc}}</small>
					</div>
					<div class="mt-auto p-2">
						<a class="btn btn-orange full-width" [href]="opp.refLink" target="_blank" [matTooltip]="opp.requiredActionDesc">
							<span *ngIf="!opp.redeemed; else notRedeemed">Get </span>
							<ng-template #notRedeemed class="text-success"><i class="fa fa-check"></i> Redeemed for </ng-template>
							{{opp.amount | number}} <i class="fa fa-ticket text-success"></i>
						</a>
					</div>
				</div>
			</mat-grid-tile>
			<mat-grid-tile class="ticket-opp"  *ngFor="let quiz of quizzes">
				<div class="d-flex flex-column flex-fill ticket-opp quiz-opp">
					<div class="text-center font-weight-bold">Trivia Game</div>
					<div class="ml-2 mr-2 text-center">
						<img width="100%" src="https://vintley.s3-us-west-2.amazonaws.com/public-images/VintleyRight.png" />
					</div>
					<div class="text-center p-3">
						<small>
							<span *ngIf="quiz.payoutType == 'perQuestion'; else elseType">
								<div class="text-center">{{quiz.ticketsPerQuestions}}<span class="fa fa-ticket text-success"></span> / Question</div>
								<div class="text-center">Join for a chance to win up to {{quiz.ticketsPerQuestions * quiz.questions.length}}<span class="fa fa-ticket text-success"></span></div>
							</span>
							<ng-template #elseType>
								<div class="text-center">{{quiz.tickets}}<span class="fa fa-ticket text-success"></span> Split Winners</div>
								<div class="text-center">Join for a chance to win up to {{quiz.tickets}}<span class="fa fa-ticket text-success"></span></div>
							</ng-template>
							<div class="font-weight-bold">
								<span [ngClass]="{'text-success': quiz.status == 'In Progress', 'text-info': quiz.status == 'Starting'}">{{quiz.status}} </span>
								<span *ngIf="quiz.status != 'In Progress'">{{quiz.displayTime}}</span>
							</div>
						</small>
					</div>
					<div class="mt-auto p-2">
						<button class="btn btn-orange full-width" (click)="quizClicked(quiz)">
							<span *ngIf="quiz.status === 'Ended';">View Results </span>
							<span *ngIf="quiz.status === 'In Progress';">View Progress</span>
							<span *ngIf="quiz.status === 'Starting';">Join Now</span>
						</button>
					</div>
				</div>
			</mat-grid-tile>
		</mat-grid-list>
		<div><small class="text-danger">Tickets may take up to 24 hrs to be awarded for the below items.</small></div>
	</div>
</div>