<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="chk-block">
      <div class="chk-block-title">
        <h2 class="text-center">How it Works</h2>
      </div>
      <div class="chk-block-content">
        <div class="d-flex flex-fill">
          <div class="mr-2"><span class="font-weight-bold">1.</span></div>
          <div class="flex-grow-1">
              <p>You need to have a Twitch Account. Click the Twitch Sign In button to login or signup to twitch.</p>
          </div>
        </div>
        <div class="d-flex flex-fill">
          <div class="mr-2"><span class="font-weight-bold">2.</span></div>
          <div class="flex-grow-1">
              <p>Some features of the site will require you to be subscribed to our twitch channel VintleyTV</p>
              <p>It's not required to have an Amazon Prime account but it is recommended so you can subscribe to our channel for free!</p>
          </div>
        </div>
        <div class="d-flex flex-fill">
          <div class="mr-2"><span class="font-weight-bold">3.</span></div>
          <div class="flex-grow-1">
              <p>Login daily and complete quizzes/games to earn <i class="fa fa-ticket text-success"></i></p>
          </div>
        </div>
        <div class="d-flex flex-fill">
          <div class="mr-2"><span class="font-weight-bold">4.</span></div>
          <div class="flex-grow-1">
              <p>Enter <i class="fa fa-ticket text-success"></i> into our weekly Raffles/Giveaways and win prizes!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

