<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="chk-block">
      <div class="chk-block-title">
        <h3 class="text-capitalize">Details</h3>
      </div>
      <div class="chk-block-content">
        <app-tda-form
            *ngIf="!loading; else loader"
            [structure]="structure"
            [values]="trivia"
            (save$)="save($event)"
            (delete$)="delete()"
        ></app-tda-form>
        <ng-template #loader>
          <app-loader></app-loader>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="chk-block" *ngIf="trivia._id">
      <div class="chk-block-title">
        <h3 class="text-capitalize">Questions</h3>
      </div>
      <div class="chk-block-content">
        <button class="btn btn-info" *ngIf="hasHappened" (click)="generateQuestions()">Re-Generate Questions</button>
        <ol>
          <li *ngFor="let question of trivia.questions">
            <b><span [innerHTML]="question.question"></span></b>
            <ol type="a">
              <li *ngFor="let option of question.options"><span [innerHTML]="option"></span></li>
            </ol>
          </li>
        </ol>
      </div>
  </div>
</div>
