.chk-block-content {
	padding: 5px !important;
}
.chk-block-title {
	padding: 8px !important;
	text-align: center;
}
h4 {
	margin-bottom: 0px !important;
}

.hand:hover {
	cursor: pointer;
}

.image-text {
	color: white;
	text-shadow: 0px 0px 3px black;
}

.back-img {
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	position: relative;
	z-index: 1;
}