.radio-group {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
}

.radio-button {
	margin: 5px;
}

.load-more {
	cursor: pointer;
	font-weight: bolder;
}

.game-item {
	background-color: rgba(200, 204, 177, 0.25);
	border: 1px solid #c8ccb1;
}