<div class="pad-wrap">
	<div class="chk-block">
		<div class="chk-block-title">
			<h4>Top Games</h4>
		</div>
		<div class="chk-block-content">
			<mat-grid-list rowHeight="1:1.25" [cols]="cols" [gutterSize]="'2rem'">
				<mat-grid-tile *ngFor="let game of games">
					<div class="d-flex flex-fill flex-column mb-1 full-width game-item">
						<div><img [src]="game.screenShots[0]" width="100%" /></div>
						<div class="mt-2 mb-2 flex-fill text-center flex-grow-1">{{game.name}}</div>
						<div class="p-1"><button class="btn btn-orange full-width" (click)="goToGame(game)" ><span class="fa fa-play"></span> Play for {{game.rewardAmount}} <i class="fa fa-ticket text-success"></i></button></div>
					</div>
				</mat-grid-tile>
			</mat-grid-list>

			<div *ngIf="games.length === querySkip + queryLimit" class="d-flex flex-fill ticket-item" (click)="getMoreGames()">
				<div class="flex-grow-1 text-center load-more">Load More</div>
			</div>
		</div>
		<div class="full-width text-center text-muted">
			We are adding new games daily...
		</div>
	</div>
</div>