.chk-block {
	margin-bottom: 0px !important;
}
.chk-block-content {
	padding: 10px 20px !important;
}

.height-80 {
	height: 80%;
}

.youtube-thumbnail {
	height: 70px;
}

.youtube-thumbnail-play {
	margin-top: -42px;
	margin-left: 55px;
	color: white;
}