<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="chk-block">
      <div class="chk-block-title">
        <h3 class="text-capitalize">Details</h3>
      </div>
      <div class="chk-block-content">
        <app-tda-form
            *ngIf="!loading; else loader"
            [structure]="structure"
            [values]="ticketOpp"
            (save$)="save($event)"
            (delete$)="delete()"
        ></app-tda-form>
        <ng-template #loader>
          <app-loader></app-loader>
        </ng-template>
      </div>
    </div>
  </div>
</div>
